
.auth {
    width: 460px;
    height: 340px;
    background-color: #FFFFFF;
}

.regwindow__btn {
    display: block;
    color: #D58C51;
    float: right;
    margin: 7px 19px;
    font-weight: 300;
    font-size: 11px;
}
.error {
    margin-top: -16px;
    margin-left: 20px;
    font-weight: 300;
    font-size: 8px;
    line-height: 10px;
    color: #FF0B0B;
}

.auth__title {
    margin-top: 36px;
    text-align: center;
    font-weight: 700;
    font-size: 31px;
    line-height: 38px;
    text-transform: uppercase;
    color: #161516;
    margin-bottom: 36px;
}

.form-auth {
    width: 420px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.auth__login {
    width: 100%;
}
.auth__password {
    width: 100%;
}

input {
    height: 39px;
    border: 1px solid #D58C51;
    border-radius: 61px;  
    padding-left: 18px;
}

input::placeholder {
    left: -10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #161516;
}
.checkbox-auth {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
}

.checkbox {
    /* Скрыть оригинальный чекбокс */
    appearance: none;
    width: 18px;
    height: 18px;
    margin-right: 9px;
    position: relative;
}
.checkbox::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    background-color: #2196f3;
    border-radius: 2px;
    opacity: 0; /* Изначально скрыт */
  }
  
  /* Изменение внешнего вида при выбранном состоянии */
.checkbox:checked::before {
    opacity: 1; /* Отображение псевдоэлемента */
  }

label {
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #301411;
}

.auth__btn {
    position: absolute;
    left: 131px;
    top: 276px;
    width: 200px;
    height: 42px;
    background-color: #D58C51;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #131313;
}
